body {
  margin: 0;
  padding: 0;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

#team_page {
  padding-top: 10vh;
}

.team-head-font {
  font-weight: 500;
  font-size: 50px;
}

.text-custom-color {
  color: #151147;
}

.row h2 {
  color: #777;
  font-size: 20px;
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card .imgBx,
.card .imgBx-without {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.tab-content {
  width: 100%;
}

.card:hover .imgBx {
  bottom: 105px;
}

.card:hover .imgBx-without {
  bottom: 80px;
}

.card .imgBx img,
.card .imgBx-without img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prof-details {
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 35px;
  height: 60px;
  text-align: center;
}

.card .details .without {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 22px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}
.details a:hover {
  text-decoration: none;
}
.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #0e0a3f;
  display: block;
  margin-top: 5px;
}

.icon-custom-color {
  color: #3b3191;
}

.container-fluid .nav-link {
  font-size: x-large;
  color: #5d52c5;
  font-weight: 700;
}

.container-fluid .nav-link:hover {
  color: #1b164d;
}

.tab_contents {
  
  box-shadow: 6px 9px 12px -1px rgba(153, 153, 153, 1);
  border-radius: 20px;
  padding-bottom: 50px;
}

.year {
  color: #251e61;
}

@media (max-width: 1000px) {
  #team_page {
    width: 100%;
  }
  html {
    width: 100%;
  }
  .tab-content {
    width: 120%;
  }
  .box {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .tab-content {
    width: 100%;
  }

  @media (max-width: 400px) {
    .card {
      margin-left: -0px;
    }
    .tab-content {
      width: 100%;
    }
  }
}
